PORT = 3000
NODE_ENV =
MYSQL_DATABASE =
MYSQL_HOST =
MYSQL_PASSWORD =
MYSQL_PORT =
MYSQL_USERNAME =
REDIS_DB =
REDIS_HOST =
REDIS_PASSWORD =
ACCESS_TOKEN_SECRET_KEY =
REFRESH_TOKEN_SECRET_KEY =
EMAIL =
PASSWORD =
