# Server
PORT=3000
NODE_ENV=DEV
FRONTEND_URL=http://localhost:5173

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_DATABASE=cnpm_be

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD=

# JWT
ACCESS_TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=7d

# S3
S3_ENDPOINT=http://127.0.0.1:9000
S3_REGION=us-east-1
S3_BUCKET=cnpm-images
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# Email (Nodemailer)
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=
